.title {
  font-size: 28px;
  font-weight: 700;
}

.eyes {
  background-color: aqua;

  margin: 0 auto;
  display: grid;
  width: 1150px;
  height: 434px;
  gap: 16px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    "L1-big L1-big L2top-mid L2top-mid L3top-small L3top-small list-1 list-1 list-1"
    "L1-big L1-big L2top-mid L2top-mid L3top-small L3top-small list-1 list-1 list-1"
    "L1-big L1-big L2top-mid L2top-mid L3top-small L3top-small list-2 list-2 list-2"
    "L1-big L1-big L2top-mid L2top-mid L3under-mid L3under-mid list-2 list-2 list-2"
    "L1-big L1-big L2top-mid L2top-mid  L3under-mid L3under-mid list-3 list-3 list-3"
    "L1-big L1-big L2under-samll L2under-samll L3under-mid L3under-mid list-3 list-3 list-3"
    "L1-big L1-big L2under-samll L2under-samll L3under-mid L3under-mid list-4 list-4 list-4"
    "L1-big L1-big L2under-samll L2under-samll L3under-mid L3under-mid list-4 list-4 list-4";
}

#L1-big {
  grid-area: L1-big;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#L2top-mid {
  grid-area: L2top-mid;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#L2under-samll {
  grid-area: L2under-samll;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#L3top-small {
  grid-area: L3top-small;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#L3under-mid {
  grid-area: L3under-mid;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list-1 {
  display: flex;
  grid-area: list-1;
  background-color: #ffb8f4;
}

#list1-syashin {
  width: 33%;
  height: 100%;
  object-fit: cover;
}

.list-2 {
  display: flex;
  grid-area: list-2;
  background-color: #00b24a;
}

#list2-syashin {
  width: 33%;
  height: 100%;
  object-fit: cover;
}

.list-3 {
  display: flex;
  grid-area: list-3;
  background-color: #3f00c8;
}

#list3-syashin {
  width: 33%;
  height: 100%;
  object-fit: cover;
}

.list-4 {
  display: flex;
  grid-area: list-4;
  background-color: #f5ff98;
}

#list4-syashin {
  width: 33%;
  height: 100%;
  object-fit: cover;
}
