body {
  background-color: #eeeeee;
}

/* 以下【1 焦點話題】 */
.san {
  color: #fab617;
  font-size: 36px;
  margin: 0 auto;
  width: 1150px;
  position: relative;
  padding-bottom: 24px;
}

.t1 {
  position: absolute;
  left: 8px;
  top: 8px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: black;
}

.eyes {
  margin: 0 auto;
  display: grid;
  width: 1150px;
  height: 434px;
  gap: 16px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    "L1-big L1-big L2top-mid L2top-mid L3top-small L3top-small list-1 list-1 list-1"
    "L1-big L1-big L2top-mid L2top-mid L3top-small L3top-small list-1 list-1 list-1"
    "L1-big L1-big L2top-mid L2top-mid L3top-small L3top-small list-2 list-2 list-2"
    "L1-big L1-big L2top-mid L2top-mid L3under-mid L3under-mid list-2 list-2 list-2"
    "L1-big L1-big L2top-mid L2top-mid  L3under-mid L3under-mid list-3 list-3 list-3"
    "L1-big L1-big L2under-samll L2under-samll L3under-mid L3under-mid list-3 list-3 list-3"
    "L1-big L1-big L2under-samll L2under-samll L3under-mid L3under-mid list-4 list-4 list-4"
    "L1-big L1-big L2under-samll L2under-samll L3under-mid L3under-mid list-4 list-4 list-4";
}

.L1-big-area {
  grid-area: L1-big;
  position: relative;
}

#L1-big {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.L1-big-word {
  grid-area: L1-big;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 8px;
  bottom: 8px;
}

.L2top-mid-area {
  grid-area: L2top-mid;
  position: relative;
}

#L2top-mid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.L2top-mid-word {
  grid-area: L2top-mid;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 8px;
  bottom: 8px;
  color: #ffffff;
}

.L2under-samll-area {
  grid-area: L2under-samll;
  position: relative;
}

#L2under-samll {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.L2under-samll-word {
  grid-area: L2under-samll;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 8px;
  bottom: 8px;
}

.L3top-small-area {
  grid-area: L3top-small;
  position: relative;
}

#L3top-small {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.L3top-small-word {
  grid-area: L3top-small;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 8px;
  bottom: 8px;
}

.L3under-mid-area {
  grid-area: L3under-mid;
  position: relative;
}

#L3under-mid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.L3under-mid-word {
  grid-area: L3under-mid;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 8px;
  bottom: 8px;
}

.list-1 {
  display: flex;
  grid-area: list-1;
  background-color: #b8eeff;
  border-radius: 12px;
  overflow: hidden;
}

#list1-syashin {
  width: 33%;
  height: 100%;
  object-fit: cover;
}

.list-2 {
  display: flex;
  grid-area: list-2;
  background-color: #b8eeff;
  border-radius: 12px;
  overflow: hidden;
}

#list2-syashin {
  width: 33%;
  height: 100%;
  object-fit: cover;
}

.list-3 {
  display: flex;
  grid-area: list-3;
  background-color: #b8eeff;
  border-radius: 12px;
  overflow: hidden;
}

#list3-syashin {
  width: 33%;
  height: 100%;
  object-fit: cover;
}

.list-4 {
  display: flex;
  grid-area: list-4;
  background-color: #b8eeff;
  border-radius: 12px;
  overflow: hidden;
}

#list4-syashin {
  width: 33%;
  height: 100%;
  object-fit: cover;
}

.list-p {
  width: 67%;
  font-size: 14px;
  padding-right: 32px;
  padding-left: 12px;
  padding-top: 12px;
}

/* 以上【1 焦點話題】 */

.nihon {
  margin-top: 80px;
}

.T2 {
  width: 160px;
  position: relative;
}

.nihon-san {
  color: #11d073;
  font-size: 18px;
  position: absolute;
  top: -6px;
}

.nihon-title {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 1150px;
}

.ichi {
  display: flex;
  color: #222222;
  text-align: center;
  width: 100%;
  justify-content: center;
}

.ichi-li {
  width: 80px;
  padding: 4px;
}

.li-pick {
  color: #0c945c;
  font-weight: 600;
}

.shita-line {
  width: 100%;
  height: 2px;
  background-color: #11d073;
  margin-top: 4px;
}

.keshiki {
  display: grid;
  width: 1150px;
  height: 434px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 16px;
}

.ookina {
  grid-area: 1/1/3/3;
}

.hidari-ue {
  grid-area: 1/3/2/4;
}

.migi-ue {
  grid-area: 1/4/2/5;
}

.hidari-shita {
  grid-area: 2/3/3/4;
}

.migi-shita {
  grid-area: 2/4/3/5;
}

.syashin {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.setsumei {
  position: relative;
}

.ookina-p {
  position: absolute;
  bottom: 32px;
  left: 10px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
}

.chiisai-p {
  position: absolute;
  bottom: 8px;
  left: 10px;
  color: #ffffff;
}

.nedan {
  bottom: 8px;
  right: 10px;
  position: absolute;
}

.iro {
  font-size: 20px;
  font-weight: 600;
  color: #04bcff;
}
.kara {
  color: #ffffff;
  padding-left: 4px;
}

/* 以上【2 日本跟團】 */

.tw {
  margin-top: 80px;
  margin-bottom: 300px;
}

.tw-title {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 1150px;
}

.tw-li {
  width: 100px;
  padding: 4px;
}

.tw-li-pick {
  color: #888888;
  font-weight: 600;
}

.tw-san::before {
  content: "◤";
  color: #888888;
  font-size: 14px;
  position: absolute;
  top: 0px;
}

.T3 {
  color: #aaaaaa;
  width: 160px;
  position: relative;
}

.tw-ul {
  display: flex;
  color: #aaaaaa;
  text-align: center;
  width: 100%;
  justify-content: center;
}

.tw-line {
  width: 100%;
  height: 2px;
  background-color: #aaaaaa;
  margin-top: 4px;
}

.tw-pic-area {
  display: grid;
  width: 1150px;
  height: 434px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 16px;
  position: relative;
}

.little-word {
  grid-area: 1/1/2/2;
}

.move-card {
  grid-area: 2/1/3/2;
}

.tall {
  grid-area: 1/2/3/3;
}

.lt {
  grid-area: 1/3/2/4;
}

.lu {
  grid-area: 1/4/2/5;
}

.rt {
  grid-area: 2/3/3/4;
}

.ru {
  grid-area: 2/4/3/5;
}

.tw-pic100 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.tw-pic {
  width: 100%;
  height: 65%;
  object-fit: cover;
  border-radius: 16px;
}

.setsumei {
  position: relative;
}

.ookina-p {
  position: absolute;
  bottom: 32px;
  left: 10px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
}

.chiisai-p {
  position: absolute;
  bottom: 8px;
  left: 10px;
  color: #ffffff;
}

.nedan {
  bottom: 8px;
  right: 10px;
  position: absolute;
}

.iro {
  font-size: 20px;
  font-weight: 600;
  color: #04bcff;
}
.kara {
  color: #ffffff;
  padding-left: 4px;
}

.find {
  display: flex;
  color: #888888;
  padding-left: 4px;
  padding-bottom: 6px;
}

.space-1 {
  width: 20px;
}

.find-title {
  font-size: 20px;
  padding-left: 4px;
  padding-bottom: 16px;
  color: #666666;
}

.pc-t {
  padding-left: 12px;
  padding-top: 12px;
  color: #666666;
}

.money {
  text-align: right;
  padding-right: 12px;
}

.tw-cl {
  color: #aa0000;
  font-weight: 600;
  font-size: 20px;
}

.upup {
  color: #666666;
  padding-left: 4px;
}

.more {
  color: #666666;
  display: flex;
  position: absolute;
  bottom: -52px;
  right: -8px;
}

.more-p {
  font-size: 20px;
  margin-right: 24px;
}
