body {
  background-color: #eeeeee;
}

/* 以下【1 焦點話題】 */
.san {
  color: #fab617;
  font-size: 36px;
  margin: 0 auto;
  width: 1150px;
  position: relative;
  padding-bottom: 24px;
}

.t1 {
  position: absolute;
  left: 8px;
  top: 8px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: black;
}

.eyes {
  margin: 0 auto;
  display: grid;
  width: 1150px;
  height: 434px;
  gap: 16px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    "L1-big L1-big L2top-mid L2top-mid L3top-small L3top-small list-1 list-1 list-1"
    "L1-big L1-big L2top-mid L2top-mid L3top-small L3top-small list-1 list-1 list-1"
    "L1-big L1-big L2top-mid L2top-mid L3top-small L3top-small list-2 list-2 list-2"
    "L1-big L1-big L2top-mid L2top-mid L3under-mid L3under-mid list-2 list-2 list-2"
    "L1-big L1-big L2top-mid L2top-mid  L3under-mid L3under-mid list-3 list-3 list-3"
    "L1-big L1-big L2under-samll L2under-samll L3under-mid L3under-mid list-3 list-3 list-3"
    "L1-big L1-big L2under-samll L2under-samll L3under-mid L3under-mid list-4 list-4 list-4"
    "L1-big L1-big L2under-samll L2under-samll L3under-mid L3under-mid list-4 list-4 list-4";
}

.L1-big-area {
  grid-area: L1-big;
  position: relative;
}

#L1-big {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.L1-big-word {
  grid-area: L1-big;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 8px;
  bottom: 8px;
}

.L2top-mid-area {
  grid-area: L2top-mid;
  position: relative;
}

#L2top-mid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.L2top-mid-word {
  grid-area: L2top-mid;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 8px;
  bottom: 8px;
  color: #ffffff;
}

.L2under-samll-area {
  grid-area: L2under-samll;
  position: relative;
}

#L2under-samll {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.L2under-samll-word {
  grid-area: L2under-samll;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 8px;
  bottom: 8px;
}

.L3top-small-area {
  grid-area: L3top-small;
  position: relative;
}

#L3top-small {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.L3top-small-word {
  grid-area: L3top-small;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 8px;
  bottom: 8px;
}

.L3under-mid-area {
  grid-area: L3under-mid;
  position: relative;
}

#L3under-mid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.L3under-mid-word {
  grid-area: L3under-mid;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 8px;
  bottom: 8px;
}

.list-1 {
  display: flex;
  grid-area: list-1;
  background-color: #b8eeff;
  border-radius: 12px;
  overflow: hidden;
}

#list1-syashin {
  width: 33%;
  height: 100%;
  object-fit: cover;
}

.list-2 {
  display: flex;
  grid-area: list-2;
  background-color: #b8eeff;
  border-radius: 12px;
  overflow: hidden;
}

#list2-syashin {
  width: 33%;
  height: 100%;
  object-fit: cover;
}

.list-3 {
  display: flex;
  grid-area: list-3;
  background-color: #b8eeff;
  border-radius: 12px;
  overflow: hidden;
}

#list3-syashin {
  width: 33%;
  height: 100%;
  object-fit: cover;
}

.list-4 {
  display: flex;
  grid-area: list-4;
  background-color: #b8eeff;
  border-radius: 12px;
  overflow: hidden;
}

#list4-syashin {
  width: 33%;
  height: 100%;
  object-fit: cover;
}

.list-p {
  width: 67%;
  font-size: 14px;
  padding-right: 32px;
  padding-left: 12px;
  padding-top: 12px;
}

/* 以上【1 焦點話題】 */

.nihon {
  margin-top: 80px;
}

.T2 {
  width: 160px;
  position: relative;
}

.nihon-san {
  color: #11d073;
  font-size: 18px;
  position: absolute;
  top: -6px;
}

.nihon-title {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 1150px;
}

.ichi {
  display: flex;
  color: #222222;
  text-align: center;
  width: 100%;
  justify-content: center;
}

.ichi-li {
  width: 80px;
  padding: 4px;
}

.li-pick {
  color: #0c945c;
  font-weight: 600;
}

.shita-line {
  width: 100%;
  height: 2px;
  background-color: #11d073;
  margin-top: 4px;
}

.keshiki {
  background-color: #0c945c;

  display: grid;
  width: 1150px;
  height: 434px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.ookina {
  background-color: #ffb8f4;
  grid-area: 1/1/3/3;
}

.hidari-ue {
  background-color: #6df5ff;
  grid-area: 1/3/2/4;
}

.migi-ue {
  background-color: #9807dc;
  grid-area: 1/4/2/5;
}

.hidari-shita {
  background-color: #aba6a6;
  grid-area: 2/3/3/4;
}

.migi-shita {
  background-color: #f4ffa4;
  grid-area: 2/4/3/5;
}
